<link rel="stylesheet" type="text/css" href="css/header.css">
</head>
<body>
<div class="navbar">
<ul> <li><a href="/">Home</a></li>
		<li><a href="/students">Students</a></li>
		<li><a href="/alumni">Alumni</a></li>
		<li><a href="/faculty">Faculty</a></li>
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/studentReg">Register</a></li>
		<li><a href="/find">Find</a></li>

	</ul>
</div>