<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
<p>Search by student registration number</p>
<form action="/find" method="post">
<input type="number" name="find" required>
<button type="submit" name="submit">search</button>
</form>
</body>
</html>